.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  padding: 1rem;
  box-shadow: 10px 0px 21px #898989;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.todo-btn {
  background-color: #12f2a7;
  padding: .5rem 1rem;
  border: 0;
  border-radius: 5px;
  font-weight: 900;
}

.main-content, .container {
  max-width: 900px;
  width: 100%;
  margin: 1rem auto;
}

.container form{
display: flex;
flex-direction: column;

}

.main-content {
  display: flax;
  flex-direction: column;
}

.main-content article {
  max-width: 100%;
  width: 100%;
  padding: 1rem;
  box-shadow: 5px 0px 7px #898989;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.conteiner form label{
font-weight: 900;
}

